@CHARSET "ISO-8859-1";
@media screen and (min-width: 768px) and (max-width: 1860px){
* {
    margin:0;
    padding:0;
    text-decoration: none;
}

body {
    background-image: url(../imagen/background.png); 
    background-color:#FFF;
}

#topo{
    width:auto;
    height:130px;
    margin:0;
    padding:0;
    background-image: url(../recurso/imagen/Logo.jpg); 

}

.loginPosicao{
    color:#6f75c3;
    position:	absolute;
    right:		120px;
    bottom:		600px;
}

.bemvindoPosição{
    font-size: 20px;
    color: blue;
    position:	absolute;
    left: 		20px;
    bottom:		20px;
}

#topo h1{
    width:238px;
    height:34px;
    margin:40px 0 0 0;

    position:	absolute;
    right:		20px;
    bottom:		20px;

}

#logotipo{
    float:left ;
    width:270px;
    height:100px;
    margin:10px 0 0 26px;
    background: url(../recurso/imagen/IFPR.jpg) no-repeat;

}

#logoff{
    float:right;
    width:620px;
    height:75px;
    margin-top: 15px;
    margin-right: 30px;
    text-align: right;

}

#user{
    float:right;
    width:250px;
    height:30px;
    margin-top: 80px;
    margin-right: 0px;

}

#menu{
    float:left ;
    width:100%;
    height: 32px;
    margin:0;
    padding: 0px;
    background-color:#FFFFFF;

}

#menubv li a {
    color: #654B24;
}

#menu li {
    background:  url(../imagen/bg-menu.png) repeat;
    color: #FFF;

}
.ui-menu .ui-menuitem-text {
    color: #FFFFFF;
}

.ui-menubar .ui-menu-child .ui-menuitem-link {
    color: #2647a0;
}
#menu li a:hover {
    color: #CCC;
    /*background: #7BB232;*/

}

#tarefas{
    width:1260px;
    min-height: 642px;
    margin:3px;
    padding: 2px;
    font:normal 13px Arial;
    background-image: url(../imagen/background.png); 
    margin: 0 auto;
    clear:both;
}

fieldset {
    margin-top:6px;
    border:1px dashed #CCC;
    padding:0;
    width:1190px;
}

.form {	margin:0;
        padding:0;
}

h1 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 300%;
    letter-spacing: 3px;
    font-weight: normal;
    line-height: 8.1;
    color:#6f75c3;


}

h3 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 75%;
    font-weight:bold;
    letter-spacing: 1px;
    color:#4C4B4B;
}

h4 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    /*font-weight:bold;*/
    letter-spacing: 1px;
    color:#FFFFFF;
}

h5 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 13px;
    /*font-weight:bold;*/
    letter-spacing: 1px;
    color:#6f75c3;
}

h6 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 84%;
    font-weight:bold;
    /*letter-spacing: 1px;*/
    padding-top: 6px;
    color:/*#FF0033 #3963C8*/ #FCD71E;
}


.labellogin {
    height:16px;
    margin: 0px;
    padding: 6px;
    float:left;
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 1.1;
    color:#7A7979;
    font-weight:bold;
    -moz-border-radius:0.3em;
    -khtml-border-radius:0.3em;
    -moz-box-shadow: 0px 2px 0px 0px #E3E3E3 inset;
}

.labelmenu {
    height:32px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    float:left;
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: -1px;
    font-size: 100%;
    font-weight: normal;
    line-height: 1.1;
    color:#7A7979;
    border:1px solid #7A7979;
    font-weight:bold;
}

.labelmenu:hover {
    color:#000000;
}

.label:hover {
    color:#FFFFFF;
}

#top {
    width:680px;
    height:50px;
}


#rodape{
    width:1200px;
    height:34px;
    clear:both;
    margin:10px auto;
    text-align:left;
    padding:0 0 0 4px;
    background:#FFFFFF;
    background-image: url(../imagen/background.png); 
    font:11px "Trebuchet MS", Arial, Tahoma;
    color:#999;

}

#rodape #copyright {
    color: #630;
    background-image: url(../imagen/background.png); 
}

#img-rodape{
    float:left;
    margin:0 0 0 8px;
    background:#CC3;
}

#conteudo{
    width:1260px;
    min-height: 650px;
    background-image: url(../imagen/background.png); 
    margin: 0 auto;
    clear:both;
    background-image: url(../imagen/background.png); 
}

.ui-carousel-header {
                margin: 0px 1px;
                height: 0px;
                overflow: hidden;
                padding: 7px 10px 8px;
                display: none !important;
                border: 0;
            }


}
