<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"                
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                template="main.xhtml">

    <ui:define name="tarefas">
        <p:fieldset legend="Cadastrar Eventos">
            <br/>
            <p:tabView id="evento" dynamic="true" cache="true">
                <p:tab title="Eventos">
                    <h:form prependId="false" id="formEvento" enctype="multipart/form-data">
                        <p:growl id="msg0"/>
                        <h:panelGrid columns="2" cellpadding="10" styleClass="panelGrid" >

                            <h:outputLabel for="nomeEvento" value="Evento:"/>
                            <p:inputText id="nomeEvento" size="40" value="#{controleEvento.evento.nome}"
                                         onkeyup="this.value = this.value.toUpperCase()" required="true"
                                         requiredMessage="O campo [Evento] é obrigatório."/>

                            <h:outputLabel for="tipoEvento" value="Tipo:"/>
                            <p:inputText size="40" id="tipoEvento" value="#{controleEvento.evento.tipoEvento}"
                                         onkeyup="this.value = this.value.toUpperCase()" required="true"
                                         requiredMessage="O campo [Tipo] é obrigatório."/>


                            <h:outputLabel for="cargaHorariaEvento" value="Carga Horária:"/>
                            <p:inputMask mask="99:99" size="40" id="cargaHorariaEvento" value="#{controleEvento.agenda.cargaHoraria}"
                                         required="true" requiredMessage="O campo [Carga Horária] é obrigatório."/>


                            <h:outputLabel for="horaEvento" value="Horário:"/>
                            <p:inputMask mask="99:99" size="40" id="horaEvento" value="#{controleEvento.agenda.hora}"
                                         required="true" requiredMessage="O campo [Horário] é obrigatório."/>


                            <h:outputLabel for="dataEvento" value="Data:"/>
                            <p:calendar size="40" id="dataEvento" value="#{controleEvento.agenda.dataEvento}" pattern="dd/MM/yyyy"
                                        requiredMessage="O campo [Data] é obrigatório."/>


                            <h:outputLabel for="numeroVagasEvento" value="Numero de vagas:"/>
                            <p:inputMask mask="99" size="40" id="numeroVagasEvento" value="#{controleEvento.evento.numeroVagas}"
                                         required="true"
                                         requiredMessage="O campo [Numero de vagas] é obrigatório."/>


                            <h:outputLabel for="publicoAlvoEvento" value="Publico Alvo:"/>
                            <p:inputText size="40" id="publicoAlvoEvento" value="#{controleEvento.evento.pubicoAlvo}"
                                         onkeyup="this.value = this.value.toUpperCase()" required="true"
                                         requiredMessage="O campo [Publico Alvo] é obrigatório."/>


                            <h:outputLabel for="localEvento" value="Local:"/>
                            <p:inputText size="40" id="localEvento" value="#{controleEvento.evento.local}"
                                         onkeyup="this.value = this.value.toUpperCase()" required="true"
                                         requiredMessage="O campo [Local] é obrigatório."/>

                            <h:outputLabel for="palestranteEvento" value="Palestrante:"/>
                            <h:selectOneMenu  id="palestranteEvento"
                                              value="#{controleEvento.evento.palestrante}"
                                              converter="conversorEntidade">
                                <f:selectItems value="#{controleEvento.getPalestrante()}"/>
                                <h:outputLabel/>
                            </h:selectOneMenu>

                            <p:panel>
                            
                                <p:commandButton value="Salvar" actionListener="#{controleEvento.salvar()}" image="ui-icon ui-icon-person" update="@form :formtable"/>
                               <p:commandButton value="Cancelar" actionListener="#{controleEvento.limpaEvento()}" image="ui-icon ui-icon-close" update="@form"/>
                            </p:panel>


                        </h:panelGrid>
                    </h:form>
                </p:tab>
            </p:tabView>

            <h:form id="formtable">
                <p:growl id="msg1"/>
                <p:dataTable id="idTabela" var="agenda" value="#{controleEvento.lista}"
                             paginator="true" rows="10" emptyMessage="Nenhum registro encontrado"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink}
                             {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15">

                    <f:facet name="header">Lista de Eventos</f:facet>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Nome"/>
                        </f:facet>
                        <h:outputText value="#{agenda.evento.nome}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Publico Alvo"/>
                        </f:facet>
                        <h:outputText value="#{agenda.evento.pubicoAlvo}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Local"/>
                        </f:facet>
                        <h:outputText value="#{agenda.evento.local}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Palestrante"/>
                        </f:facet>
                        <h:outputText value="#{agenda.evento.palestrante.nome}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Ações"/>
                        </f:facet>

                    
                        <p:commandButton value="Remover" action="#{controleEvento.excluirEvento(agenda.id)}"
                                         image="ui-icon ui-icon-close" update="@form">
                            <f:setPropertyActionListener target="#{controleEvento.evento}"
                                                         value="#{evento}"/>
                        </p:commandButton>

                        <p:commandButton value="Cartaz" action="#{controleEvento.eventoS(agenda.evento)}"
                                         update="@form">
                        </p:commandButton>
                            
                    </p:column>

                </p:dataTable>

               
            </h:form>
        </p:fieldset>
    </ui:define>

</ui:composition>

