<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"                
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                template="main.xhtml">

    <ui:define name="tarefas">
        <p:fieldset legend="Cadastrar Estados">
            <br/>
            <p:tabView id="estado" dynamic="true" cache="true">
                <p:tab title="Estado">
                    <h:form prependId="false" id="formEstado">
                        <p:growl id="msg0"/>
                        <h:panelGrid columns="2" cellpadding="10" styleClass="panelGrid" id="grid0">

                            <h:outputLabel for="nomeestado" value="Estado:"/>
                            <p:inputText id="nomeestado" size="40" value="#{controleEstado.estado.nome}"
                                         onkeyup="this.value = this.value.toUpperCase()" required="true"
                                         requiredMessage="O campo [Nome] é obrigatório."/>

                             <h:outputLabel for="siglaestado" value="Sigla:"/>
                             <p:inputMask mask="aa" id="siglaestado" value="#{controleEstado.estado.sigla}"
                                         onkeyup="this.value = this.value.toUpperCase()" required="true"
                                         requiredMessage="O campo [Sigla] é obrigatório."/>
                            <h:outputLabel/>
                            <p:panel>
                                <p:commandButton value="Salvar" action="#{controleEstado.salvar()}"
                                                 image="ui-icon ui-icon-disk" update="@form :formtable"/>
                                <p:commandButton value="Cancelar" actionListener="#{controleEstado.limpCidade}" 
                                                 image="ui-icon ui-icon-close" update="@form"/>
                            </p:panel>
                        </h:panelGrid>
                    </h:form>
                </p:tab>
            </p:tabView>

            <h:form id="formtable">
                <p:growl id="msg1"/>
                <p:dataTable id="idTabela" var="estado" value="#{controleEstado.lista}"
                             paginator="true" rows="10" emptyMessage="Nenhum registro encontrado"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink}
                             {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15">

                    <f:facet name="header">Lista de Estados</f:facet>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Nome"/>
                        </f:facet>
                        <h:outputText value="#{estado.nome} - #{estado.sigla}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Ações"/>
                        </f:facet>
                        <p:commandButton value="Editar" image="ui-icon ui-icon-pencil"
                                         process="@this" update=":estado:formEstado">
                            <f:setPropertyActionListener target="#{controleEstado.estado}"
                                                         value="#{estado}"/>
                        </p:commandButton>
                        <p:commandButton value="Remover" action="#{controleEstado.excluir(estado.id)}"
                                         image="ui-icon ui-icon-close" update="@form">
                            <f:setPropertyActionListener target="#{controleEstado.estado}"
                                                         value="#{estado}"/>
                        </p:commandButton>

                    </p:column>
                </p:dataTable>
            </h:form>
        </p:fieldset>
    </ui:define>

</ui:composition>
