<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"                
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                template="main.xhtml">

    <ui:define name="tarefas">
        <p:fieldset legend="Cadastrar Cidades">
            <br/>
            <p:tabView id="tbv1" dynamic="true" cache="true">
                <p:tab title="Cidade">
                    <h:form prependId="false" id="formCidade">
                        <p:growl id="msg0"/>
                        <h:panelGrid columns="2" cellpadding="10" styleClass="panelGrid" id="grid0">

                            <h:outputLabel for="nomecidade" value="Cidade:"/>
                            <p:inputText id="nomecidade" size="40" value="#{controleCidade.cidade.nome}"
                                         onkeyup="this.value = this.value.toUpperCase()" required="true"
                                         requiredMessage="O campo [Nome] é obrigatório."/>

                            <h:outputLabel for="nomeEstado" value="Estado:"/>
                            <h:selectOneMenu id="estado"
                                             value="#{controleCidade.cidade.estado}"
                                             converter="conversorEntidade">
                                <f:selectItems value="#{controleCidade.getEstado()}"/>
                            </h:selectOneMenu>
                            <h:outputLabel/>
                            <p:panel>
                                <p:commandButton value="Salvar" action="#{controleCidade.salvar()}"
                                                 image="ui-icon ui-icon-disk" update="@form :formtable"/>
                                <p:commandButton value="Cancelar" actionListener="#{controleCidade.limpCidade}" 
                                                 image="ui-icon ui-icon-close" update="@form"/>
                            </p:panel>
                        </h:panelGrid>
                    </h:form>
                </p:tab>
            </p:tabView>

            <h:form id="formtable">
                <p:growl id="msg1"/>
                <p:dataTable id="idTabela" var="cidade" value="#{controleCidade.lista}"
                             paginator="true" rows="10" emptyMessage="Nenhum registro encontrado"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink}
                             {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             rowsPerPageTemplate="5,10,15">

                    <f:facet name="header">Lista de Cidades</f:facet>
                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Nome"/>
                        </f:facet>
                        <h:outputText value="#{cidade.nome} - #{cidade.estado.sigla}"/>
                    </p:column>

                    <p:column>
                        <f:facet name="header">
                            <h:outputText value="Ações"/>
                        </f:facet>
                        <p:commandButton value="Editar" image="ui-icon ui-icon-pencil"
                                         process="@this" update=":tbv1:formCidade">
                            <f:setPropertyActionListener target="#{controleCidade.cidade}"
                                                         value="#{cidade}"/>
                        </p:commandButton>
                        <p:commandButton value="Remover" action="#{controleCidade.excluir(cidade.id)}"
                                         image="ui-icon ui-icon-close" >
                            <f:setPropertyActionListener target="#{controleCidade.cidade}"
                                                         value="#{cidade}"/>
                        </p:commandButton>

                    </p:column>
                </p:dataTable>
            </h:form>
        </p:fieldset>
    </ui:define>

</ui:composition>
