<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="main.xhtml">
            <ui:define name="tarefas">
  
                <center> 
                    <h:form enctype="multipart/form-data" > 
                        <h1>Enviar Cartaz</h1>
                        <h:messages></h:messages>
                        <p:fileUpload fileUploadListener="#{controleEvento.enviaCartaz}"  
                                      label="Carregar"
                                      mode="advanced"  
                                      multiple="true"  
                                      sizeLimit="10000000"   
                                      allowTypes="/(\.|\/)(png|jpg|gif)$/" 
                                      invalidFileMessage="Extensão de arquivo inválida. Selecione Arquivos com extenção (png,jpg,gif)"
                                      cancelLabel="Cancelar" uploadLabel="Enviar"/>  


                        <p:messages  severity="info" escape="false" showDetail="true" 
                                     autoUpdate="true" closable="true"/>

                    </h:form>

                </center> 
            </ui:define>
        </ui:composition>
    </h:body>
</html>

