<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                template="./../cadastros/main.xhtml">

    <ui:define name="tarefas">
        <h:form>
            <p:growl id="msg0"/>
            <p:dataTable id="idTabela" var="cadastroEvento" value="#{controleEvento.listaCadastroEvento()}"
                         paginator="true" rows="10" emptyMessage="Nenhum registro encontrado"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink}
                         {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15">

                <f:facet name="header">Validar certificados</f:facet>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Evento"/>
                    </f:facet>
                    <h:outputText value="#{cadastroEvento.evento.nome}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Nome"/>
                    </f:facet>
                    <h:outputText value="#{cadastroEvento.participante.nome}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Validação"/>
                    </f:facet>
                    <h:outputText value="#{cadastroEvento.certificado.validacao}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="CPF"/>
                    </f:facet>
                    <h:outputText value="#{cadastroEvento.participante.cpf}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="E-mail"/>
                    </f:facet>
                    <h:outputText value="#{cadastroEvento.participante.email}"/>
                </p:column>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Validar"/>
                    </f:facet>
                    <p:commandButton style="width: 90px" value="Presença" action="#{controleCadastroEvento.validarPresenca(cadastroEvento)}"
                                     image="ui-icon ui-icon-disk" update="@form"/>

                    <p:commandButton style="width: 90px" value="Falta" action="#{controleCadastroEvento.validarFalta(cadastroEvento)}"
                                     image="ui-icon ui-icon-disk" update="@form"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </ui:define>

</ui:composition>


