<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                template="./../cadastros/main.xhtml">

    <ui:define name="tarefas">
        <h:form>
            <p:growl id="msg0"/>
            <p:dataTable id="idTabela" var="agenda" value="#{controleEvento.listaAgenda()}"
                         paginator="true" rows="10" emptyMessage="Nenhum registro encontrado"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink}
                         {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15">

                <f:facet name="header">Lista de eventos Cadastrados</f:facet>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Evento"/>
                    </f:facet>
                    <h:outputText value="#{agenda.evento.nome}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Data"/>
                    </f:facet>
                    <h:outputText value="#{agenda.dataEvento}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Hora"/>
                    </f:facet>
                    <h:outputText value="#{agenda.hora}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Local"/>
                    </f:facet>
                    <h:outputText value="#{agenda.evento.local}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Ações"/>
                    </f:facet>
                    <p:commandButton action="#{controleEvento.acaoAlterar(agenda.evento,agenda)}"
                                     value="Editar" image="ui-icon ui-icon-pencil"
                                     update="@form" ajax="false"
                                     style="width: 100px">

                    </p:commandButton>

                    <p:commandButton value="Excluir" action="#{controleEvento.excluirEvento(agenda.evento.id)}"
                                     image="ui-icon ui-icon-close" update="@form" style="width: 100px"/>

                    <p:commandButton style="width: 200px" value="Validar Certificado" image="ui-icon ui-icon-person" action="#{controleEvento.validaCerticidados(agenda.evento)}" ajax="false" onclick="this.form.target = '_blank'"/>
                    
                    <p:commandButton style="width: 200px" image="ui-icon ui-icon-disk" value="Lista de Presença" action="#{controleRelatorio.gerarListaPresenca(agenda.evento)}" ajax="false" onclick="this.form.target = '_blank'"/>

                </p:column>

            </p:dataTable>
            <div class="loginPosicao">
                <h:outputText value="Listar Somente Eventos Ativos: " />
                <p:selectBooleanCheckbox value="#{controleEvento.ativos}">
                    <p:ajax update="@form" />
                </p:selectBooleanCheckbox>
            </div>

        </h:form>
    </ui:define>

</ui:composition>

