<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      >

    <h:head>
        <title>Sistema de eventos</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="../recurso/css/eventos.css" rel="stylesheet" type="text/css" />
        <link href="../recurso/imagen/if.ico" rel="shortcut icon" type="image/x-icon" />    
    </h:head>

    <h:body>
        <div id="topo">
            <a href="http://www.ifpr.gov.br/"><img align="top" src="../recurso/imagen/IFPR.jpg"/></a>
            <a href="http://www.ifpr.gov.br/"><div id="logotipo"></div></a>            
        </div> 
        <div id="user">
            <h:form>
                <h:dataTable value="#{controleAdministrador.procuraAdministrador()}" var="item">
                    <h:column>
                        <h5>
                            Seja bem Vindo:  #{item.nome} 
                        </h5>
                    </h:column>
                </h:dataTable>
            </h:form>
        </div>


        <div id="menu">
            <h:form>    
                <p:menubar styleClass="labelmenu">
                    <p:submenu label="Home">
                        <p:menuitem value="Home" url="../index.xhtml"/>
                        <p:menuitem value="Sair" url="#{facesContext.externalContext.requestContextPath}/j_spring_security_logout"/>
                    </p:submenu>
                    <p:submenu label="Cadastros">  
                        <p:menuitem value="Palestrantes" url="../cadastros/cadastrarPalestrante.xhtml"/>                        
                        <p:menuitem value="Avaliadores" url="../cadastros/cadastrarAvaliador.xhtml"/>   

                        <p:submenu label="Cidade/Estado">  
                            <p:menuitem value="Cidade" url="../cadastros/cadastrarcidade.xhtml"/>                        
                            <p:menuitem value="Estado" url="../cadastros/cadastrarEstado.xhtml"/> 

                        </p:submenu> 
                    </p:submenu> 
                    <p:submenu label="Consultas">  
                        <p:menuitem value="Palestrantes" url="consultarPalestrante.xhtml"/>                        
                        <p:menuitem value="Participantes" url="consultarParticipante.xhtml"/> 
                        <p:menuitem value="Avaliadores" url="consultarAvaliador.xhtml"/>  
                    </p:submenu>

                    <p:submenu label="Login">  
                        <p:menuitem value="Login" url="../redirecinamento.xhtml"/>                        
                    </p:submenu>

                    <p:submenu label="Relatório">  
                        <p:menuitem value="Relatórios" url="relatorio.xhtml"/> 
                    </p:submenu>

                    <p:submenu label="Eventos">  
                        <p:menuitem value="Cadastrar" url="cadastraEvento.xhtml"/> 
                        <p:menuitem value="Listar" url="listaEventos.xhtml"/>
                    </p:submenu>

                </p:menubar>

            </h:form>           
        </div>

        <div id="tarefas">
            <ui:insert name="tarefas"></ui:insert>
        </div>

        <div id="rodape" align="right">
            <a href="http://www.ifpr.edu.gov.br/"><img src="../recurso/imagen/rodape.jpg" /></a>

        </div> 

    </h:body>

</html>