<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      >

    <h:head>
        <title>Sistema de eventos</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="../recurso/css/eventos.css" rel="stylesheet" type="text/css" />
        <link href="../recurso/imagen/if.ico" rel="shortcut icon" type="image/x-icon" />    
    </h:head>

    <h:body>


        <ui:composition template="./../cadastros/main.xhtml">

            <ui:define name="tarefas">
                <h:form>
                    <br></br>
                    <p:fieldset legend="Emissão de Relatórios" style="width: 250px">
                        <br></br>
                        <p:commandButton style="width: 240px" value="Relatório de participante" action="#{controleRelatorio.gerarRelatorioParticipante()}" ajax="false" onclick="this.form.target = '_blank'"/>
                        <p:commandButton style="width: 240px" value="Relatório de palestrante" action="#{controleRelatorio.gerarRelatorioPalestrante()}" ajax="false" onclick="this.form.target = '_blank'"/>
                        <p:commandButton style="width: 240px" value="Relatório de Avaliadores" action="#{controleRelatorio.gerarRelatorioAvaliador()}" ajax="false" onclick="this.form.target = '_blank'"/>
                    </p:fieldset>
                </h:form>
            </ui:define>
        </ui:composition>

    </h:body>

</html>
