<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="main.xhtml">
            <ui:define name="tarefas">
                <p:fieldset legend="Avaliar Trabalho">
                    <br/>
                    <p:tabView id="trabalhos" dynamic="true" cache="true">
                        <p:tab title="Trabalho">
                            <h:form prependId="false" id="formTrabalhos">
                                <p:growl id="msg0"/>
                                <h:panelGrid columns="2" cellpadding="10" styleClass="panelGrid" id="grid0">

                                    <h:outputLabel for="nomeeTrabalhos" value="Nome:"/>
                                    <p:inputText id="nomeTrabalho" size="40" value="#{controleTrabalho.trabalhos.nome}" disabled="true"/>

                                    <h:outputLabel for="notaTrabalhos" value="Nota:"/>
                                    <p:inputMask mask="9.9" id="notaTrabalhos" size="40" value="#{controleTrabalho.trabalhos.nota}"
                                                 required="true" requiredMessage="O campo [Nota] é obrigatório."/>


                                    <h:outputLabel for="situacaoTrabalhos" value="Situação:"/>
                                    <p:inputText id="situacao" size="40" value="#{controleTrabalho.trabalhos.situacao}" disabled="true"/>


                                    <h:outputLabel for="comentariosTrabalhos" value="Comentario:"/>
                                    <p:editor id="editor" widgetVar="editor" value="#{controleTrabalho.trabalhos.comentarios}" width="600" />


                                    <p:messages  severity="info" escape="false" showDetail="true" 
                                                 autoUpdate="true" closable="true"/>
                                </h:panelGrid> 
                                <h:panelGrid columns="2" style="margin-top: 10px">
                                    <p:commandButton value="avaliar" action="#{controleTrabalho.avalia()}"/>
                                    <p:commandButton value="Limpar" type="button" onclick="PF('editor').clear();" icon="ui-icon-close" />
                                </h:panelGrid>
                            </h:form>

                        </p:tab>
                    </p:tabView>
                </p:fieldset>
            </ui:define>
        </ui:composition>

    </h:body>
</html>

