<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                template="main.xhtml">

    <ui:define name="tarefas">
        <h:form>
            <p:growl id="msg0"/>
            <p:dataTable id="idTabela" var="avaliador" value="#{controleAvaliador.procuraAvaliador()}"
                         paginator="true" rows="10" emptyMessage="Nenhum registro encontrado"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink}
                         {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         rowsPerPageTemplate="5,10,15">

                <f:facet name="header">Avaliador Cadastrado</f:facet>
                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Nome"/>
                    </f:facet>
                    <h:outputText value="#{avaliador.nome}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Email"/>
                    </f:facet>
                    <h:outputText value="#{avaliador.email}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Telefone"/>
                    </f:facet>
                    <h:outputText value="#{avaliador.telefone}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Cidade"/>
                    </f:facet>
                    <h:outputText value="#{avaliador.cidade.nome} - #{avaliador.cidade.estado.nome}-#{avaliador.cidade.estado.sigla}"/>
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Ações"/>
                    </f:facet>
                    <p:commandButton action="#{controleAvaliador.acaoAlterar(avaliador)}"
                        value="Editar" image="ui-icon ui-icon-pencil"
                        update="@form" ajax="false">
                    </p:commandButton>
                    
                   

                </p:column>

            </p:dataTable>
        </h:form>
    </ui:define>

</ui:composition>
