<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://primefaces.org/ui"
      ><!-- xmlns:sec="http://www.springframework.org/security/facelets/tags" -->

    <h:head>
        <title>Sistema de eventos</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="../recurso/css/eventos.css" rel="stylesheet" type="text/css" />
        <link href="../recurso/imagen/if.ico" rel="shortcut icon" type="image/x-icon" />    
    </h:head>

    <h:body>
        <div id="topo">
            <a href="http://www.ifpr.gov.br/"><img align="top" src="../recurso/imagen/IFPR.jpg"/></a>
            <a href="http://www.ifpr.gov.br/"><div id="logotipo"></div></a>            
            <div id="topo">
                <h:form>
                    <h:dataTable value="#{controleAvaliador.procuraAvaliador()}" var="item">
                        <h:column>
                            <h5>
                                Seja bem Vindo:  #{item.nome} 
                            </h5>
                        </h:column>
                    </h:dataTable>
                </h:form>
            </div>
        </div>  

        <div id="menu">
            <h:form>    
                <p:menubar styleClass="labelmenu">
                    <p:submenu label="Home">
                        <p:menuitem value="Home" url="../index.xhtml"/>
                        <p:menuitem value="Sair" url="#{facesContext.externalContext.requestContextPath}/j_spring_security_logout"/>
                    </p:submenu>

                    <p:submenu label="Editar">  

                        <p:menuitem value="Cadastro" url="../avaliador/consultarAvaliador.xhtml"/> 

                    </p:submenu>

                    <p:submenu label="Avaliar">  
                        <p:menuitem value="Trabalhos" url="../avaliador/listarTrabalhos.xhtml"/> 
                    </p:submenu>
                    <p:submenu label="Login">  
                        <p:menuitem value="Login" url="./../redirecinamento.xhtml"/>                        
                    </p:submenu>

                </p:menubar> 



            </h:form>           
        </div>

        <div id="tarefas">
            <ui:insert name="tarefas"></ui:insert>
        </div>

        <div id="rodape" align="right">
            <a href="http://www.ifpr.gov.br/"><img src="../recurso/imagen/rodape.jpg" /></a>

        </div> 

    </h:body>

</html>