<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="./../usuario/main.xhtml">
            <ui:define name="tarefas">
                <center> 
                    <h:form> 

                        <p:growl id="msg0"/>

                        <p:dataTable id="idTabela" var="cad" value="#{controleCadastroEvento.listaCadastroEventoInscrito()}" 
                                     paginator="true" rows="10" emptyMessage="Nenhum registro encontrado"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink}
                                     {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="5,10,15" >

                            <f:facet name="header">Eventos</f:facet>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Nome"/>
                                </f:facet>
                                <h:outputText value="#{cad.evento.nome}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Local"/>
                                </f:facet>
                                <h:outputText value="#{cad.evento.local}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Palestrante"/>
                                </f:facet>
                                <h:outputText value="#{cad.evento.palestrante.nome}"/>
                            </p:column>

                            <p:column width="250">
                                <f:facet name="header">
                                    <h:outputText value="Ações"/>
                                </f:facet>
                                
                                <p:commandButton image="ui-icon ui-icon-disk" style="width: 240px" value="Emitir Certificado" action="#{controleCadastroEvento.gerarCertificadoEvento(cad.evento)}" ajax="false" onclick="this.form.target = '_blank'"/>

                                <p:growl id="growl" showDetail="true" />

                                <p:commandButton style="width: 240px" value="Cancelar Inscrição" action="#{controleCadastroEvento.excluirEvento(cad.id)}"
                                                 image="ui-icon ui-icon-close" update="@form">
                                    <p:confirm header="Confirmação" message="Tem certesa que deseja cancelar sua inscrição no evento?" icon="ui-icon-alert" />

                                </p:commandButton>
                                <p:growl id="message" showDetail="true" />
                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                    <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                    <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                </p:confirmDialog>

                            </p:column>
                        </p:dataTable>

                        <div class="loginPosicao">
                            <h:outputText value="Listar Somente Eventos Ativos: " />
                            <p:selectBooleanCheckbox value="#{controleEvento.ativos}">
                                <p:ajax update="@form" />
                            </p:selectBooleanCheckbox>
                        </div>
                    </h:form>
                </center> 
            </ui:define>

        </ui:composition>

    </h:body>
</html>

