<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="./../usuario/main.xhtml">
            <ui:define name="tarefas">
                <center> 
                    <h:form> 

                        <p:growl id="msg0"/>

                        <p:dataTable id="idTabela" var="agenda" value="#{controleEvento.lista}" 
                                     paginator="true" rows="10" emptyMessage="Nenhum registro encontrado"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink}
                                     {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="5,10,15" >

                            <f:facet name="header">Eventos</f:facet>
                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Nome"/>
                                </f:facet>
                                <h:outputText value="#{agenda.evento.nome}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Data"/>
                                </f:facet>
                                <h:outputText value="#{agenda.dataEvento}">
                                    <f:convertDateTime pattern="MM/dd/yyyy" />
                                </h:outputText>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Hora"/>
                                </f:facet>
                                <h:outputText value="#{agenda.hora}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Local"/>
                                </f:facet>
                                <h:outputText value="#{agenda.evento.local}"/>
                            </p:column>

                            <p:column >
                                <f:facet name="header">
                                    <h:outputText value="Vagas"/>
                                </f:facet>
                                <h:outputText value="#{agenda.evento.numeroVagas}" />
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Vagas disponíveis"/>
                                </f:facet>
                                <h:outputText value="#{controleCadastroEvento.getNumeroVagas(agenda.evento)}"/>
                            </p:column>

                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Palestrante"/>
                                </f:facet>
                                <h:outputText value="#{agenda.evento.palestrante.nome}"/>
                            </p:column>

                            <p:column width="120">
                                <f:facet name="header">
                                    <h:outputText value="Ações"/>
                                </f:facet>

                                <p:growl id="growl" showDetail="true" />

                                <p:commandButton value="Inscrição" action="#{controleCadastroEvento.salvar(agenda.evento)}"
                                                 image="ui-icon ui-icon-person" update="@form">
                                <p:confirm header="Confirmação" message="Deseja se increver no evento?" icon="ui-icon-alert" />
                                
                                </p:commandButton>
                                <p:growl id="message" showDetail="true" />
                                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                    <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                    <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                </p:confirmDialog>
                                
                                <p:commandButton value="Submeter Trabalhos" action="#{controleTrabalho.enviarTrabalho(agenda.evento)}"
                                                 image="ui-icon ui-icon-person" update="@form">
       
                                </p:commandButton>
                            </p:column>
                        </p:dataTable>
                    </h:form>
                </center> 
            </ui:define>

        </ui:composition>

    </h:body>
</html>

