<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <ui:composition template="./../usuario/main.xhtml">
            <ui:define name="tarefas">
                <center> 
                    <h:form> 

                        <p:dataTable id="idTabela" var="trabalhos" value="#{controleTrabalho.procuraTrabalhosUsuario()}"
                                     paginator="true" rows="10" emptyMessage="Nenhum registro encontrado"
                                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink}
                                     {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                     rowsPerPageTemplate="5,10,15">

                            <f:facet name="header">Trabalhos enviados</f:facet>


                            <p:column>
                                <f:facet name="header">
                                    <h:outputText value="Nome"/>
                                </f:facet>
                                <h:outputLink value="#{controleTrabalho.visualizaTrabalhos(trabalhos.nome)}">
                                    <h:outputText value="#{trabalhos.nome}"/>
                                </h:outputLink>
                            </p:column>

                            <p:column width="300">
                                <f:facet name="header">
                                    <h:outputText value="Comentários"/>
                                </f:facet>
                                <h:outputText value="#{trabalhos.comentarios}"/>
                            </p:column>

                            <p:column width="50">
                                <f:facet name="header">
                                    <h:outputText value="Nota"/>
                                </f:facet>
                                <h:outputText value="#{trabalhos.nota}"/>
                            </p:column>
                            <p:column width="200">
                                <f:facet name="header">
                                    <h:outputText value="Status"/>
                                </f:facet>
                                <h:outputText value="#{trabalhos.situacao}"/>
                            </p:column>

                            <p:column width="100">
                                <f:facet name="header">
                                    <h:outputText value="Ações"/>
                                </f:facet>

                                <p:commandButton value="Excluir" action="#{controleTrabalho.excluirTrabalhos(trabalhos.id)}"
                                                 image="ui-icon ui-icon-close" update="@form"/>


                            </p:column>
                        </p:dataTable>
                    </h:form>
                </center> 
            </ui:define>




        </ui:composition>
    </h:body>
</html>

