<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:p="http://primefaces.org/ui"
                template="main.xhtml">
    <ui:define name="tarefas">
        <p:fieldset legend="Cadastrar Participante">
            <br/>
            <h:form>
                <p:wizard nextLabel="Próxima Aba" backLabel="Aba Anterior">
                    <p:tab title="Informações Básicas" id="infoPessoal">
                        <p:panel header="Informações Básicas do Participante">
                            <p:growl id="msg0"/>
                            <h:panelGrid columns="2" cellpadding="10" styleClass="panelGrid" id="grid0">

                                <h:outputLabel/>
                                <!--                                <h:inputHidden id="id" value="{controleParticipante.participante.id}"/> -->

                                <h:outputLabel for="nomePessoa" value="Nome.:"/>
                                <p:inputText id="nomePessoa" size="40" value="#{controleParticipante.participante.nome}"
                                             required="true" requiredMessage="O campo [Nome] é obrigatório"
                                             onkeyup="this.value = this.value.toUpperCase()"/>

                                <h:outputLabel for="formacao" value="formacao.:"/>
                                <h:selectOneMenu id="formacao"
                                                 value="#{controleParticipante.participante.formacao}"
                                                 converter="conversorEntidade">
                                    <f:selectItems  itemLabel="Selecione o char" value="#{controleParticipante.getFormacao()}"/>
                                </h:selectOneMenu>

                                <h:outputLabel for="telefone" value="Telefone.:"/>
                                <p:inputMask id="telefone" size="40" mask="(99) 9999-9999"
                                             value="#{controleParticipante.participante.telefone}"
                                             required="true" requiredMessage="O campo [Telefone] é obrigatório"
                                             />

                                <h:outputLabel for="email" value="E-mail.:"/>
                                <p:inputText id="email" size="40" value="#{controleParticipante.participante.email}"
                                             required="true" requiredMessage="O campo [E-mail] é obrigatório">
                                    <f:validator validatorId="emailValidator"/>
                                </p:inputText>

                                <h:outputLabel for="cpf" value="CPF:"/>
                                <p:inputMask mask="999.999.999-99" id="cpf" size="40" value="#{controleParticipante.participante.cpf}"
                                             required="true" requiredMessage="O campo [CPF] é obrigatório">
                                    <f:validator validatorId="cpfValidator"/>
                                </p:inputMask>

                                <h:outputLabel for="matricula" value="Matricula"/>
                                <p:inputText id="matricula"  size="30" required="true" value="#{controleParticipante.participante.matricula}" requiredMessage="O campo [Matricula] é obrigatório">

                                </p:inputText>

                                <h:outputLabel for="usuario" value="Nome de Usuário:"/>
                                <p:inputText id="usuario" value="#{controleParticipante.participante.login}" size="30"/>

                                <h:outputLabel for="senha" value="Senha:" />
                                <p:password id="senha" size="30" maxlength="22" promptLabel="Digite sua Senha" value="#{controleParticipante.confereSenha}"
                                            weakLabel="Senha Fraca" goodLabel="Senha Boa" strongLabel="Senha Forte" feedback="true"/> 

                                <h:outputLabel for="senhaconf2" value="Confirmar Senha:"/>
                                <p:password id="senhaconf2" size="30" value="#{controleParticipante.participante.senha}" maxlength="22"   
                                            promptLabel="Confirme sua Senha" weakLabel="Senha Fraca" validator="passwordValidator"
                                            goodLabel="Senha Boa" strongLabel="Senha Forte" feedback="true">
                                </p:password>  

                            </h:panelGrid>
                        </p:panel>
                    </p:tab>

                    <p:tab title="Informações do Endereço" id="infoEndereco">
                        <p:panel header="Informações do Endereço">
                            <p:growl id="msg1"/>
                            <h:panelGrid columns="2" cellpadding="10" styleClass="panelGrid" id="grid1">

                                <h:outputLabel for="cidade" value="Cidade"/>
                                <h:selectOneMenu id="cidade"
                                                 value="#{controleParticipante.participante.cidade}"
                                                 converter="conversorEntidade">
                                    <f:selectItems value="#{controleParticipante.getCidade()}"/>
                                </h:selectOneMenu>

                                <h:outputLabel for="endereco" value="Endereço"/>
                                <h:inputText onkeyup="this.value = this.value.toUpperCase()" required="true" id="endereco" size="30" value="#{controleParticipante.participante.endereco}" requiredMessage="O campo [Endereco] é obrigatório">

                                </h:inputText>

                                <h:outputLabel for="cep" value="CEP.:"/>
                                <p:inputMask id="cep" size="10" value="#{controleParticipante.participante.cep}" mask="99999-999" required="true" requiredMessage="É obrigatório o preenchimento do campo [CEP]"/> 			

                                <p:panel>
                                    <p:commandButton value="Salvar" action="#{controleParticipante.addPessoa}"
                                                     image="ui-icon ui-icon-disk" update="@form"/>
                                    <p:commandButton value="Cancelar" actionListener="#{controleParticipante.limpPessoa}" 
                                                     image="ui-icon ui-icon-close" update="@form"/>
                                </p:panel>
                            </h:panelGrid>
                        </p:panel>
                    </p:tab>
                </p:wizard>
            </h:form>
        </p:fieldset>
    </ui:define>

</ui:composition>
