<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui">
    <h:head>
        <title>Sistema de eventos</title>
        <link href="recurso/imagen/if.ico" rel="shortcut icon" type="image/x-icon" /> 
        <link href="recurso/css/eventos.css" rel="stylesheet" type="text/css" />
    </h:head>
    <h:body>
        <style>
            .ui-carousel-header {
                margin: 0px 1px;
                height: 0px;
                overflow: hidden;
                padding: 7px 10px 8px;
                display: none !important;
                border: 0;
            }
        </style>
 
        <div align="center" style="padding-top: 65px">
            <p:carousel vertical="true" autoPlayInterval="5000" circular="true" numVisible="1" effect="easeInStrong" headerText="Eventos em aberto" value="#{controleEvento.listaEventosAtivos()}" var="agenda">
                <p:tab>
                    <h:panelGrid columns="2" cellpadding="10" style="padding-top: 65px; width: 1100px; height: 300px">
                        <p:graphicImage value="/recurso/imagen/#{agenda.evento.cartaz}" width="600px" height="300px"/>
                        <h:panelGrid columns="1" cellpadding="2" width="800px" style="padding-bottom: 20px">
                            <h:outputText value=" Evento: #{agenda.evento.nome}" style="font-size: 20px"/>
                            <h:outputText value=" Local: #{agenda.evento.local}" style="font-size: 20px"/>
                            <h:outputText value=" Horário: #{agenda.hora}" style="font-size: 20px"/>
                            <h:outputText value=" Carga Horaria: #{agenda.cargaHoraria}" style="font-size: 20px"/>
                            <h:outputText value=" Data: #{agenda.dataEvento}" style="font-size: 20px"/>
                            <h:outputText value=" Palestrante: #{agenda.evento.palestrante.nome}" style="font-size: 20px"/>
                            <h:outputText value=" Publico Alvo: #{agenda.evento.pubicoAlvo}" style="font-size: 20px"/>
                        </h:panelGrid>
                    </h:panelGrid>
                </p:tab>
                
                </p:carousel>
            <br></br>
            <h2><p:button value="Inscreva-se" outcome="usuario/incricaoEvento"/></h2>

        </div>

        <h:form>
            <b:container>
                <b:navBar position="top">
                    <b:navbarLinks >
                        <b:navLink value="Home" href="index.xhtml"></b:navLink>
                        <b:navLink value="Sair" href="#{facesContext.externalContext.requestContextPath}/j_spring_security_logout"></b:navLink>
                        <b:dropMenu value="Cadastro">
                            <b:navLink value="Participante" href="cadastrarParticipante.xhtml"></b:navLink>
                        </b:dropMenu>
                        <b:navLink value="Eventos" href="eventos.xhtml"></b:navLink>
                        <b:navLink value="Login" href="redirecinamento.xhtml"></b:navLink>
                    </b:navbarLinks>
                </b:navBar>
            </b:container>
        </h:form>


    </h:body>

</html>