<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui">
    <h:head>
        <title>Sistema de eventos</title>
        <link href="recurso/imagen/if.ico" rel="shortcut icon" type="image/x-icon" /> 
        <link href="recurso/css/eventos.css" rel="stylesheet" type="text/css" />
    </h:head>
    <h:body>

        <style>
            .ui-carousel-header {
                margin: 0px 1px;
                height: 0px;
                overflow: hidden;
                padding: 7px 10px 8px;
                display: none !important;
                border: 0;
            }
        </style>

        <div align="center" style="padding-top: 65px">

            <p:carousel autoPlayInterval="4000" numVisible="1" value="#{controleEvento.listaImagem()}" var="imagem"
                        effect="easeInStrong" circular="true" pageLinks="3" itemStyleClass="foto">
                <p:graphicImage value="#{imagem}" width="1262px" height="400px" />
            </p:carousel>

        </div>

        <h:form>
            <b:container>
                <b:navBar position="top">
                    <b:navbarLinks >
                        <b:navLink value="Home" href="index.xhtml"></b:navLink>
                        <b:navLink value="Sair" href="#{facesContext.externalContext.requestContextPath}/j_spring_security_logout"></b:navLink>
                        <b:dropMenu value="Cadastro">
                            <b:navLink value="Participante" href="cadastrarParticipante.xhtml"></b:navLink>
                        </b:dropMenu>
                        <b:navLink value="Eventos" href="eventos.xhtml"></b:navLink>
                        <b:navLink value="Login" href="redirecinamento.xhtml"></b:navLink>
                    </b:navbarLinks>
                </b:navBar>
            </b:container>
        </h:form>


        <form>
            <b:container>
                <b:row>
                    <b:column col-md="4">
                        <h2>Eventos</h2>
                        <p>Acesse os eventos agendados e inscreva-se. </p>
                        <p><p:button value="eventos"  outcome="eventos"/></p>
                    </b:column>
                    <b:column col-md="4">
                        <h2>Cadastre-se</h2>
                        <p>Faça o cadastro para participar dos eventos e receber seu certificado.</p>
                        <p><p:button value="Cadastre-se" outcome="cadastrarParticipante"/></p>
                    </b:column>
                    <b:column col-md="4">
                        <h2>Minha página</h2>
                        <p>Acesse sua página</p>

                        <p><p:button value="Minha página" outcome="redirecinamento"/></p>
                    </b:column>
                </b:row>
                <hr/>

            </b:container>
        </form>
        <footer>
            <div id="rodape" align="center">
                <a href="http://www.ifpr.gov.br/"><img src="recurso/imagen/rodape.jpg" /></a>
            </div> 
        </footer>


    </h:body>
</html>

