<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:b="http://bootsfaces.net/ui">
    <f:view>
        <h:head>
            <title>Eventos</title>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <link href="recurso/css/eventos.css" rel="stylesheet" type="text/css" />
            <link href="recurso/imagen/if.ico" rel="shortcut icon" type="image/x-icon" /> 
        </h:head>

        <h:body>
            <b:navBar position="top">
                <b:navbarLinks >
                    <b:navLink value="Home" href="index.xhtml"></b:navLink>
                    <b:navLink value="Cadastre-se" href="cadastrarParticipante.xhtml"></b:navLink>
                </b:navbarLinks>
            </b:navBar>

            <p:dialog header="Eventos - Faça login para entrar no sistema"
                      modal="false" closable="false" position="center"
                      widgetVar="modalLogin" minWidth="300" width="300" showEffect="slide"
                      draggable="false" resizable="false" visible="true">

                <center>
              
                    <form action="j_spring_security_check" method="post">
                        <h:panelGrid columns="2" cellpadding="3" style="font-weight: bold;">
                            <h:outputLabel for="j_username" value="* Usuário: " />
                            <h:inputText id="j_username" size="15" />

                            <h:outputLabel for="j_password" value="* Senha: " />
                            <h:inputSecret id="j_password" size="15" />
                        </h:panelGrid>
                        <h:commandButton value="Entrar" />
                    </form>

                </center>
            </p:dialog>
        </h:body>
    </f:view>

</html>

